<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
 <mapper namespace="com.company.mapper.MultiImgMapper">
 	<insert id="enroll" parameterType="com.company.first.MultiImgVO">
 		insert into img_table(img) 
 		values(#{img})
 	</insert>
 	
 	</mapper>